{% extends 'flatpages/default.html' %}
{% load static %}

{% block content %}
    <div role="main" class="main">
    <section
            class="page-header page-header-modern page-header-background page-header-background-md custom-bg-color-grey-1 mb-0"
            style="background-image: url({% static 'img/demos/education/backgrounds/page-header.jpg' %}); background-position: 100% ;">
        <div class="container">
            <div class="row mt-5">
                <div class="col align-self-center p-static text-center">
                    <h1 class="font-weight-bold text-color-secondary text-10">Вход</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h2> Войти в систему </h2>
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}


            <input class="row m-lg-2 " type="submit" value="Войти">
        </form>
        <button class="m-2"><a href="{% url 'signup' %}"> Регистрация </a></button>
        <ul class="social-icons social-icons-clean" style="color: #0a0c0d">
            <div>Войти с помощью: </div>
            <li>
                <a href='/accounts/vk/login/?process=login&next=%2F'><i class="fab fa-vk"></i></a>
            </li>
            <li>
                <a href="/accounts/yandex/login/?process=login&next=%2F"><i class="fab fa-yandex"></i></a>
            </li>
            <li>
                <a href="/accounts/google/login/?process=login&next=%2F"><i class="fab fa-google"></i></a>
            </li>
        </ul>
    </div>

{% endblock %}

</div>